<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Personas</title>
    </head>
    <body>
        <table>
            <thead>
                <th>Nombre</th>
                <th>Edad</th>
            </thead>
            <tbody>
                <div th:each="persona : ${personas}">
                    <tr>
                        <td th:text="${persona.nombre}"></td>
                        <td th:text="${persona.edad}"></td>
                    </tr>
                </div>
            </tbody>
        </table>
    </body>
</html>